<nav class="navbar">
  <div class="navbar-items">

    <!-- logo -->
    <!-- <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://unsplash.com/photos/CoNsEK5iHug">
        <button>Visit Our Website</button>
      </a>
    </div> -->
    <div class="left">
    <div class="large">PAM 
      <div class="small">INC.</div>
  </div>
  </div>
  
    <div class="right">
      <button type="button" class="btn btn-light">Visit Our Website</button>
    </div>
  </div>
  </nav>