h1{
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
li{
    width:30%;
    height: min-content;
}
img{
    width: 100%;
    height: min-content;
    object-fit: cover;
    max-height: 500px;
}
span{
    color: red;
}