<router-outlet></router-outlet>
<div class="container">
<h1>{{title}}</h1>
<p class="time">By <span class="author">{{author}}</span> Published on {{publishedAt}}.</p>
<hr>
<img src="{{urlToImage}}" alt="news image">
<p class="description">{{description}}</p>
<div class="buttons">
    <button class="left" ><i class="fa fa-thumbs-up "></i> I found this helpful</button>
    <button class="right" ><i class="fa fa-thumbs-down "></i> I did not find this helpful</button>
</div>
<div class="comments">
    <h4>Comments</h4>
    <ul *ngFor="let comment of comments">
        <li>
            <img src="{{comment.image}}" alt="profile picture">
            <h6>{{comment.name}}</h6>
            <p>{{comment.date}} <span> Reply</span></p>
            <p>{{comment.text}}</p>
        </li>
    </ul>
</div>
<div>join the conversation</div>
<app-form></app-form>
</div>
