.container{
    padding: 0 20px;
    font-family: sans-serif;
}

h1{
    font-weight: bold;
    /* font-family: sans-serif; */
    padding: 30px 0;
}
.time,hr{
    color: #C3C2BE;
    padding-bottom: 40px;
}
span.author{
   text-transform: capitalize;
    color: red;

}
/* hr{
    color: #C3C2BE;
} */
img{    width: inherit;
 }

 .description{
    padding: 40px 0;
    font-size: 30px;
 }

 button{
    background-color: #EEEEEE;
    border: none;
    color: #AEAEAE;
    padding: 15px 35px;
    text-align: center;
    font-size: 20px;
 }
 button.right{
     margin-left: 30px;
 }

 .comments h4, .form h4{
   text-transform: capitalize;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 30px;
 }

 ul{
    list-style-type:none;
 }

 li{
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    padding: 30px;

 }
 .data{display:flex;
flex-wrap: wrap;}

 .data img{
    max-height: 60px;
    border-radius: 30px;
 }

 .data p{
     padding-top:20px;
 }

 .data p:first-of-type{
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold;
 }

 .data p:last-child{
    color: #AEAEAE;
    padding-right:30px;
 }

 .data span{
     padding-left:30px;
 }

 li .text{
   padding-left: 130px;


 }
 /* .form h4{
    text-transform: capitalize;
    font-size: 30px;

    padding: 40px 45px 20px;
 } */