<router-outlet></router-outlet>
<div class="container">
<h1>{{title}}</h1>
<p class="time"  *ngIf="author">By <span class="author">{{author}}</span> Published on {{publishedAt}}.</p>
<hr>
<img src="{{urlToImage}}" alt="news image" *ngIf="urlToImage">
<p class="description">{{description}}</p>
<div class="buttons">
    <button class="left" ><i class="fa fa-thumbs-up "></i> I found this helpful</button>
    <button class="right" ><i class="fa fa-thumbs-down "></i> I did not find this helpful</button>
</div>
<div class="comments">
    <h4>Comments</h4>
    <ul *ngFor="let comment of comments">
        <li>
            <div class="data">
            <img src="{{comment.image}}" alt="profile picture">
            <p>{{comment.name}}</p>
            <p>{{comment.date}} <span> Reply</span></p>
        </div>
            <p class="text">{{comment.text}}</p>
        </li>
    </ul>
</div>
<div class="form">
    <h4>join the conversation</h4>
<app-form></app-form>
</div>
</div>
