<!-- <ul>
  <li *ngFor="let article of articles"  >
    <img src="{{article.urlToImage}}">
    <a [routerLink]="['/details',article.title]">
    <h1 (click)="goToOtherComponent('/details',article.title)" >{{article.title}}</h1>
  </a>
    <p>{{article.description}}</p>
    <p>By <span>{{article.author}}</span></p>
  </li>
</ul> -->
<!-- <app-news-details [data]="articles"></app-news-details> -->
<nav class="navbar">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://bulma.io/images/bulma-logo.png">
      <button>Visit Our Website</button>
    </a>
  </div>
</nav>
<router-outlet></router-outlet>